@charset "UTF-8";
.str0 {stroke:white;stroke-width:39.69;stroke-miterlimit:22.9256}
.str1 {stroke:white;stroke-width:39.69;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:22.9256}
.fil1 {fill:none;fill-rule:nonzero}
.fil0 {fill:#E3B873;fill-rule:nonzero}
